{{ form_start(form) }}
{{ form_errors(form) }}
        {{ form_row(form.nom) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.pourcentage) }}
    </div>
    <div class="col-6">
        {{ form_row(form.forfait) }}
    </div>
</div>
{{ form_row(form.remarque) }}
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
