{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>Factures payées en {{ year }} ({{ total }})</h3>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nbre factures</th>
                    <th>Montant</th>
                    <th>Email</th>
                </tr>
                </thead>
                {% for row in data %}
                    <tr>
                        <td>
                            <a href="{{ path('mercredi_admin_facture_index_by_tuteur', {'id': row.tuteur.id}) }}">{{ row.tuteur }}</a>
                            <br>
                            <span class="text-muted">
                                {{ row.tuteur.rue }} <br/>
                                {{ row.tuteur.codepostal }} {{ row.tuteur.localite }}
                            </span>
                        </td>
                        <td>
                            {{ row.factures|length }} / {{ row.factures_all|length }}
                        </td>
                        <td>
                            {{ row.total|format_currency('euros') }}
                        </td>
                        <td>
                            {% if row.tuteur.users|length > 0 %}
                                {{ row.tuteur.users.0.email }}
                            {% else %}
                                {{ row.tuteur.email }} {{ row.tuteur.emailConjoint }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}