{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <h3>Liste des accueils de <a href="{{ path('mercredi_admin_enfant_show', {'id': enfant.id}) }}">{{ enfant }}</a></h3>
    <hr>

    {% include '@AcMarcheMercrediAdmin/enfant/_btn_add_accueil.html.twig' %}

    {% if accueils | length > 0 %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Nombre de demi heure</th>
                <th>Matin/soir</th>
            </tr>
            </thead>
            <tbody>
            {% for accueil in accueils %}
                <tr>
                    <td>
                        <a href="{{ path('mercredi_admin_accueil_show', { 'id': accueil.id }) }}">
                            {{ accueil.dateJour|format_date('full') }}
                        </a>
                    </td>
                    <td>
                        {{ accueil.duree }}
                    </td>
                    <td>
                        {{ accueil.matinSoir|join(',') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucun
    {% endif %}
{% endblock %}
