<tr>
    <td>
        {{ enfant }}
        <br>
        <span class="text-muted">({{ enfant.anneeScolaire }})</span>
    </td>
    <td>
        {% if enfant.relations|length > 1 %}
            {% set tuteurSelected = data[enfant.id]['tuteur'] %}
            <label for="tuteurs[{{ enfant.id }}][]" class="required">
                <select name="tuteurs[{{ enfant.id }}][]" class="custom-select" required="required">
                    <option value="0" {% if tuteurSelected ==0 %}selected="selected" {% endif %}>
                        Sous la garde de
                    </option>
                    {% for relation in enfant.relations %}
                        <option value="{{ relation.tuteur.id }}"{% if tuteurSelected == relation.tuteur.id %} selected="selected" {% endif %}>
                            {{ relation.tuteur }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        {% else %}
            {{ enfant.relations[0].tuteur }}
            <input type="hidden" name="tuteurs[{{ enfant.id }}][]"
                   value="{{ enfant.relations[0].tuteur.id }}">
        {% endif %}
    </td>
    {% for day in week.days %}
        {% if day|date('N') != 7 and day|date('N') != 6 %}
            {% set format =  day|date('Y-m-d') %}
            {% if data[enfant.id]['accueils'][format] is defined %}
                {% set value = data[enfant.id]['accueils'][format] %}
            {% else %}
                {% set value = 0 %}
            {% endif %}
            <td>
                <div class="row" {{ stimulus_controller('btns') }}>
                    <div class="col mt-sm-1">
                        <label for="accueilsaccueils[{{ enfant.id }}][]">
                            <input type="number" min="0" max="6"
                                   name="accueils[{{ enfant.id }}][{{ format }}]"
                                   value="{{ value }}"
                                   data-btns-target="duree"
                                   class="form-control" style="width: 70px;">
                        </label>
                    </div>
                    <div class="col mt-1">
                        <button type="button"
                                data-action="btns#up"
                                class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-plus-square"></i>
                        </button>
                       <button type="button"
                                data-action="btns#down"
                               class="btn btn-sm btn-outline-primary">
                           <i class="fas fa-minus-square"></i>
                       </button>
                    </div>
                </div>
            </td>
        {% endif %}
    {% endfor %}
</tr>



