{% extends '@AcMarcheMercrediEcole/layout.html.twig' %}

{% block container_class %}container{% endblock %}

{% block body %}

    <a href="{{ path('mercredi_ecole_ecole_show',{'id':ecole.id}) }}" class="mt-4">
        <i class="fas fa-long-arrow-alt-left"></i> Retour à l'école
    </a>
    <br/>
    <div class="card mb-3">
        <div class="card-header">
            <h3>Accueils <strong>{{ heure }}</strong> Semaine {{ date.week }} ({{ ecole }})</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ calendar|raw }}
                </div>
                <div class="col-12 col-lg-6">
                    <div class="alert alert-info">
                        Choisissez sur quelle semaine vous souhaitez travailler<br/>
                        Indiquez par un chiffre le nombre de demi-heure que l'élève est resté
                    </div>
                </div>
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Sauvegarder
            </button>
            <div class="alert alert-success">
                Les enfants affichés ci-dessous sont les enfants <strong>inscrits au matin et/ou au soir et dont la
                    fiche santé est complète.</strong><br/>
            </div>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Nom</th>
                    <th>Année scolaire</th>
                    <th>Garde</th>
                    {% for day in week.days %}
                        {% if day|date('N') != 7 and day|date('N') != 6 %}
                            <td class="text-center">
                                {{ day|date('j') }}<br/>
                                {{ day|date('D') }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for enfant in enfants %}
                    {% include '@AcMarcheMercredi/ecole/accueil/_line_day_inscription.html.twig' %}
                {% endfor %}
            </table>
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Sauvegarder
            </button>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

