{% extends '@AcMarcheMercrediEcole/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">

        <h3 class="card-header">Accueil de {{ enfant }} le {{ accueil.dateJour|format_date('full') }}</h3>

        <div class="card-body">

            {% include '@AcMarcheMercrediEcole/accueil/_actions.html.twig' %}

            <table class="table table-bordered">
                <tr>
                    <th>Sous la garde de</th>
                    <td>
                        {{ accueil.tuteur }}
                    </td>
                </tr>
                <tr>
                    <th>Nombre de demi-heure</th>
                    <td>{{ accueil.duree }}</td>
                </tr>
                <tr>
                    <th>Quand</th>
                    <td>{{ accueil.heure }}</td>
                </tr>
            </table>
            {% if accueil.remarque %}
                <p class="text-muted">
                    {{ accueil.remarque | nl2br }}
                </p>
            {% endif %}

        </div>
    </div>

{% endblock %}
