{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body -%}

    <h3>Liste des utilisateurs <span class="badge badge-info">{{ users | length }}</span></h3>

    <a href="{{ path('mercredi_admin_user_new') }}" class="btn btn-primary m-2">
        <i class="fas fa-plus"></i> Ajouter un utilisateur
    </a>

    {% include '@AcMarcheMercrediAdmin/user/_search.html.twig' %}

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Role(s)</th>
            <th>Associé(s) à</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('mercredi_admin_user_show', { 'id': user.id }) }}">
                        {{ user.nom }} {{ user.prenom }}
                    </a>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.niceRoles | join(',') }}</td>
                <td>
                    {% for tuteur in user.tuteurs %}
                        <a href="{{ path('mercredi_admin_tuteur_show', {'id': tuteur.id}) }}">{{ tuteur }}</a>
                    {% endfor %}
                    {% for ecole in user.ecoles %}
                        <a href="{{ path('mercredi_admin_ecole_show', {'id': ecole.id}) }}">{{ ecole|u.truncate(25, '…') }}</a>
                    {% endfor %}
                    {% for animateur in user.animateurs %}
                        <a href="{{ path('mercredi_admin_animateur_show', {'id': animateur.id}) }}">{{ animateur }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
