{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Présences non payées</h3>
        <div class="card-body">

            <div class="alert alert-warning">
                Présences non payées entre le 01-01-2019 et 01-07-2022
            </div>

            <h4 class="text-success">Mercredi et journée pédagogique</h4>
            {% if presences|length > 0 %}

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Enfant</th>
                        <th>Tuteur</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for presence in presences %}
                        <tr>
                            <td>
                                <a href="{{ path('mercredi_parent_enfant_show', {'uuid': presence.enfant.uuid}) }}">
                                    {{ presence.enfant }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('mercredi_parent_tuteur_show') }}">
                                    {{ presence.tuteur }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('mercredi_parent_presence_show', {'uuid': presence.uuid}) }}">
                                    {{ presence.jour|format_date('full') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucune</p>
            {% endif %}
            <h4 class="text-success">Plaines</h4>
            {% if presencesPlaines|length > 0 %}

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Enfant</th>
                        <th>Tuteur</th>
                        <th>Plaine</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for presence in presencesPlaines %}
                        <tr>
                            <td>
                                <a href="{{ path('mercredi_parent_enfant_show', {'uuid': presence.enfant.uuid}) }}">
                                    {{ presence.enfant }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('mercredi_parent_tuteur_show') }}">
                                    {{ presence.tuteur }}
                                </a>
                            </td>
                            <td>
                                {{ presence.jour.plaine }}
                            </td>
                            <td>
                                <a href="{{ path('mercredi_parent_presence_show', {'uuid': presence.uuid}) }}">
                                    {{ presence.jour|format_date('full') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucune</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

