<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Numéro</th>
        <th>Facturé le</th>
        <th>Payé le</th>
        <th>Nbre de présences</th>
        <th>Télécharger</th>
    </tr>
    </thead>
    <tbody>
    {% for facture in factures %}
        <tr>
            <td>
                  N° {{ facture.id }}
            </td>
            <td>
                {{ facture.factureLe | format_date('full') | title }}
            </td>
            <td>{{ facture.payeLe ? facture.payeLe | format_date('full','full') }}</td>
            <td>{{ facture.facturePresences | length }}</td>
            <td>
                <a href="{{ path('mercredi_parent_facture_pdf', {'uuid': facture.uuid}) }}">
                    <i class="fas fa-download"></i> Télécharger
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucune</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
