{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>
                Détails de la facture {{ facture.id }}
                {% if facture.tuteur %}
                    de <a
                        href="{{ path('mercredi_admin_tuteur_show', {'id': facture.tuteur.id}) }}">{{ facture.tuteur }}</a>
                {% endif %}
            </h3>
        </div>
        <div class="card-body">

            <a href="{{ path('mercredi_commun_export_facture_pdf', {'uuid': facture.uuid}) }}" class="btn btn-primary mb-3"
               role='button'> <i class="fas fa-file-pdf"></i> Exporter en pdf</a>

            {% include '@AcMarcheMercrediAdmin/facture/_details.html.twig' %}
            {% include '@AcMarcheMercrediParent/facture/_presences.html.twig' %}
            {% include '@AcMarcheMercrediParent/facture/_accueils.html.twig' %}
            {% include '@AcMarcheMercrediParent/facture/_plaines.html.twig' %}

        </div>
        <div class="card-footer text-muted mt-3">
            Crée le {{ facture.createdAt | format_date('full') }} par {{ facture.userAdd }}. Mis à jour
            le {{ facture.updatedAt | format_date('full') }}
        </div>
    </div>

{% endblock %}
