{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    {% if form.tuteur is defined %}
        <div class="col-12">
            {{ form_row(form.tuteur) }}
        </div>
    {% endif %}
    <div class="col-4">
        {{ form_row(form.absent) }}
    </div>
    <div class="col-8">
        {{ form_row(form.reduction) }}
    </div>
    <div class="col-8">
        {{ form_row(form.ordre) }}
    </div>
</div>
{{ form_row(form.remarque) }}
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
