{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <h3 class="card-header">Accueil de {{ enfant }} le {{ accueil.dateJour|format_date('full') }}</h3>

        <div class="card-body">

            {% include '@AcMarcheMercrediParent/accueil/_actions.html.twig' %}

            <table class="table table-bordered">
                <tr>
                    <th>Nombre de demi-heure</th>
                    <td>{{ accueil.duree }}</td>
                </tr>
                <tr>
                    <th>Matin/Soir</th>
                    <td>{{ accueil.matinSoir | join(', ') }}</td>
                </tr>
                <tr>
                    <th>Coût</th>
                    <td>{{ cout|format_currency('eur') }}</td>
                </tr>
            </table>

            {% if accueil.remarque %}
                <p class="text-muted">
                    {{ accueil.remarque | nl2br }}
                </p>
            {% endif %}

        </div>
        <div class="card-footer text-muted mt-3">
            Crée le {{ accueil.createdAt | format_date('full') }} par {{ accueil.userAdd }}. Mis à jour
            le {{ accueil.updatedAt | format_date('full') }}
        </div>
    </div>

    {% include '@AcMarcheMercrediParent/accueil/_delete_form.html.twig' %}

{% endblock %}
