<div class="alert alert-info">Ces données ne sont visibles que par les administrateurs</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.admin_civilite) }}
        {{ form_row(form.admin_fonction) }}
        {{ form_row(form.admin_nom) }}
        {{ form_row(form.admin_prenom) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.admin_telephone) }}
        {{ form_row(form.admin_telephone_autre) }}
        {{ form_row(form.admin_fax) }}
        {{ form_row(form.admin_gsm) }}
        {{ form_row(form.admin_email) }}
    </div>
</div>
