<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.civilite) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.prenom) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.fonction) }}
    </div>

    <div class="col-lg-6">
        {{ form_row(form.contact_rue) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.contact_num) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.contact_cp) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.contact_localite) }}
    </div>

    <div class="col-lg-4">
        {{ form_row(form.contact_email) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.contact_gsm) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.contact_telephone) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.contact_telephone_autre) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.contact_fax) }}
    </div>
</div>