<div class="row">
    <div class='col-md-2'>
        {{ form_row(form.centreville) }}
    </div>
    <div class='col-md-2'>
        {{ form_row(form.midi) }}
    </div>
    <div class='col-md-2'>
        {{ form_row(form.pmr) }}
    </div>
    <div class='col-md-6'>

    </div>
    <div class='col-md-12'>
        {{ form_row(form.comment1) }}
        {{ form_row(form.comment2) }}
        {{ form_row(form.comment3) }}
    </div>
</div>