<div class="d-grid gap-1 d-print-none" style="width: 500px;">
    <div class="cal">

        <div class="cal-month">
            <a href="{{ path('mercredi_ecole_presence_index', {'yearmonth':previous.format('Y-m')}) }}"
               title="Mois précédent"
               class="cal-month-previous btn-sm btn btn-outline-primary" role="button">
                <i class="fas fa-arrow-left"></i>
            </a>
            <strong class="cal-month-name">{{ dateSelected.monthName }} {{ dateSelected.year }}</strong>
            <select class="form-select cal-month-name d-none">
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option selected="" value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
            <a href="{{ path('mercredi_ecole_presence_index', {'yearmonth':next.format('Y-m')}) }}"
               title="Mois suivant"
               class="cal-month-next btn btn-sm btn-outline-primary" role="button">
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
        <div class="cal-weekdays text-muted">
            {% for weekday in weekdays %}
                <div class="cal-weekday">{{ weekday|trans[:3] }}</div>
            {% endfor %}
        </div>
        <div class="cal-days">
            {% for week in weeks %}
                {% for day in week %}
                    {% set class = '' %}
                    {% if day.format('Y-m-d') == dateSelected.format('Y-m-d') %}
                        {% set class = 'badge rounded-pill text-bg-success' %}
                    {% endif %}
                    <a href="{{ path('mercredi_ecole_presence_index', {'yearmonth': dateSelected.year~'-'~dateSelected.month}) }}"
                       class="btn cal-btn {{ class }}" role="button">
                        {{ day.day }}
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>