{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <h3 class="card-header">Liste des notes {{ notes|length }}</h3>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Enfant</th>
                    <th>Contenu</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>
                            <a href="{{ path('mercredi_admin_note_show', { 'id': note.id }) }}">
                                Num {{ note.id }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('mercredi_admin_enfant_show', { 'id': note.enfant.id }) }}">
                                {{ note.enfant }}
                            </a>
                        </td>
                        <td>{{ note.remarque | u.truncate(80) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
