{{ form_start(form) }}
{{ form_errors(form) }}
<h4 class="text-success">Parent</h4>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.tuteur.nom) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.tuteur.prenom) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.tuteur.rue) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.tuteur.code_postal) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.tuteur.localite) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.tuteur.telephone) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.tuteur.email) }}
    </div>
</div>
<h4 class="text-success">Enfant</h4>

<div class="row">
    <div class="col-md-4">
        {{ form_row(form.enfant.nom) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.enfant.prenom) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.enfant.birthday) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.enfant.ecole) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.enfant.annee_scolaire) }}
    </div>
</div>
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
