{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.date_jour) }}
    </div>
    <div class="col-6">
        {{ form_row(form.pedagogique) }}
        {{ form_row(form.archived) }}
    </div>
    <div class="col-6">
        {{ form_row(form.ecoles) }}
    </div>
    <div class="col-6">
        {{ form_row(form.remarque) }}
    </div>
</div>
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
