{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <h3>Liste des jours d'accueil</h3>
    <hr>

    <a class="btn btn-primary m-2" role="button"
       href="{{ path('mercredi_admin_jour_new') }}"><i class="fas fa-plus"></i> Ajouter une date</a>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Date des mercredis récréatifs</th>
            <th>Journée pédagogique</th>
            <th>Archivé</th>
        </tr>
        </thead>
        <tbody>
        {% for jour in jours %}
            <tr>
                <td>
                    <a href="{{ path('mercredi_admin_jour_show', { 'id': jour.id }) }}">
                        {{ (jour.dateJour|format_date('full'))|title }}
                    </a>
                </td>
                <td>
                    {% if jour.pedagogique %}
                        {{ jour.pedagogique ? '<i class="fas fa-check" title="Oui"></i>' }}
                        {{ jour.ecoles | join(', ') }}
                    {% endif %}
                </td>
                <td>
                    {{ jour.archived ? '<i class="fas fa-check" title="Oui"></i>' }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
