{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Tarifs pour la journée du {{ jour }}</h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Sauvegarder
            </button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_jour_show',{'id':jour.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
