{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-6">
        {{ form_row(form.medecin_nom) }}
    </div>
    <div class="col-6">
        {{ form_row(form.medecin_telephone) }}
    </div>
</div>

<div class="row">
    <div class="col-6">
        {{ form_row(form.personne_urgence) }}
    </div>
    <div class="col-6">
        {{ form_label(form.accompagnateurs) }}
        {{ form_help(form.accompagnateurs) }}
        <ul class="list-group" id="email-fields-list"
            data-prototype="{{ form_widget(form.accompagnateurs.vars.prototype)|e }}"
            data-widgetTags="{{ '<li class="list-group-item"></li>'|e }}"
            data-widgetCounter="{{ form.accompagnateurs|length }}"
        >
            {% for accompagnateurField in form.accompagnateurs %}
                <li class="list-group-item">
                    {{ form_errors(accompagnateurField) }}
                    {{ form_widget(accompagnateurField) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button"
                id="add-another-accompagnateur"
                class="mt-2 add-another-collection-widget btn btn-primary btn-sm"
                data-list-selector="#email-fields-list">
            <i class="fas fa-plus"></i> Ajouter un personne
        </button>
    </div>
</div>

<br/>

<h4 class="text-success">Questions</h4>

{% for question in form.questions %}
    <h5 class="text-warning"><strong>{{ question.vars.data.nom }}</strong></h5>
    <hr/>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            {{ form_row(question.reponseTxt) }}
        </div>
        <div class="col-md-8 col-sm-8">

            {{ form_row(question.remarque) }}
            {% if question.vars.data.complementLabel %}
                <span class="text-muted">Si oui, {{ question.vars.data.complementLabel }}</span>
            {% endif %}
        </div>
    </div>
{% endfor %}

{{ form_row(form.remarque) }}

<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
