{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ creance }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercredi/admin/creance/_actions.html.twig' %}

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Montant</th>
                    <td>{{ creance.montant|format_currency('eur') }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ creance.dateLe|format_date('full') }}</td>
                </tr>
                <tr>
                    <th>Payé le</th>
                    <td>{{ creance.payeLe ? creance.payeLe|format_date('full') :'' }}</td>
                </tr>
                </thead>
            </table>

            {{ creance.remarque|nl2br }}
        </div>
    </div>
    {% include '@AcMarcheMercredi/admin/creance/_delete_form.html.twig' %}
{% endblock %}
