{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row tags mb-2" id="email-fields-list"
     data-prototype="{{ form_widget(form.jours.vars.prototype)|e }}"
     data-widgetTags="{{ '<li class="list-group-item"></li>'|e }}"
     data-widgetCounter="{{ form.jours|length }}">
    {% for jour in form.jours %}
        <div class="col-6 remove{{ loop.index }}">
            {{ form_row(jour) }}
        </div>
        <div class="col-4 remove{{ loop.index }}">
            <a href="#" class="btn btn-danger remove-tag"><i class="fas fa-trash"></i></a>
        </div>
    {% endfor %}
</div>

<button type="button"
        id="add-another-accompagnateur"
        class="mt-2 add-another-collection-widget btn btn-primary float-end"
        data-list-selector="#email-fields-list">
    <i class="fas fa-plus"></i> Ajouter une date
</button>

<button class="btn btn-primary" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>

{{ form_end(form) }}
