{% if is_granted('ROLE_BOTTIN_ADMIN') %}

    <a href="{{ path('bottin_category_edit', { 'id': category.id }) }}" class="btn btn-primary"
       role="button"><i class="far fa-edit"></i> Editer</a>

    <a href="{{ path('bottin_category_new_children', { 'id': category.id }) }}"
       class="btn btn-primary" role="button"><i class="fas fa-plus"></i> Ajouter une sous
        catégorie</a>

    <a href="{{ path('bottin_category_move', { 'id': category.id }) }}" class="btn btn-primary"
       role="button"><i class="fas fa-arrows-alt"></i> Déplacer</a>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-download"></i> Exporter l' arborescence
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

            <a href="{{ path('bottin_export_category_xls', { 'id': category.id }) }}" role="button"
               class="dropdown-item"> En xls</a>

            <a href="{{ path('bottin_export_category_pdf', { 'id': category.id }) }}" role="button"
               class="dropdown-item"> En pdf</a>

        </div>
    </div>
    <br/>
{% endif %}
