{% if category.logo or category.logoBlanc %}
    <div class="media">
        {% if category.logo %}
            <a class="media-left" href="#">
                <img class="media-object" src="{{ vich_uploader_asset(category, 'logoFile') }}"
                     alt="{{ category.id }}" style="width: 120px; height: 120px"/>
            </a>
        {% endif %}



        {% if category.logoBlanc %}
            <a class="media-right" href="#" style="background-color: #dcdcdc;">
                <img class="media-object" src="{{ vich_uploader_asset(category, 'logoBlancFile') }}"
                     alt="{{ category.id }}" style="width: 120px; height: 120px"/>
            </a>
        {% endif %}
        <br/>
    </div>
{% else %}
    <div class="page-header">
        <h3>{{ category }} (Id: {{ category.id }}) </h3>
        <p class="text-muted">{{ category.description }}</p>
    </div>
{% endif %}
