{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Liste des catégories </h3>
    </div>

    {% include '@AcMarcheBottin/search/_category.html.twig' %}

    {% if is_granted('ROLE_BOTTIN_ADMIN') %}
        <div class="mb-4 float-right">

            <a href="{{ path('bottin_category_new') }}" class="btn btn-primary" role="button">
                <i class="fas fa-plus"></i> Ajouter</a>

            <a href="{{ path('bottin_export_categories_xls') }}" class="btn btn-primary" role="button">
                <i class="fas fa-download"></i> Exporter l'arborescence</a>

            <a href="{{ path('bottin_export_fiches_xls') }}" class="btn btn-primary" role="button">
                <i class="fas fa-download"></i>Exporter toutes les fiches</a>

        </div>
    {% endif %}

    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Niveau 0</th>
            <th>Niveau 1</th>
            <th>Niveau 2</th>
            <th>Fiches</th>
        </tr>
        </thead>
        <tbody>
        {% for root in categories %}
            <tr>
                <td><a href="{{ path('bottin_category_show',{'id':root.id}) }}">{{ root }}</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for child in root.childNodes %}
                <tr>
                    <td></td>
                    <td><a href="{{ path('bottin_category_show',{'id':child.id}) }}">{{ child }}</a></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for child2 in child.childNodes %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href="{{ path('bottin_category_show',{'id':child2.id}) }}">{{ child2 }}</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
