<div class="card mb-3">
    <div class="card-body">
        <table class="table">
            <tr>
                <td>
                    <img height="90px"
                         src="{{ absolute_url(asset('bundles/acmarchemercredi/images/logo_epe_marche.png')) }}"
                         alt="logo hotton" class="float-start me-3">
                    Asbl Espaces Parents Enfants<br>
                    rue Victor Libert, 36E<br>
                    6900 Marche-en-Famenne.<br>
                    084/32 69 90<br>
                    cee@marche.be
                    <br clear="all">
                    <strong>Facture numéro {{ facture.id }}</strong><br/>
                    Communication: {{ facture.communication }}
                </td>
                <td class="me-4 float-end">
                    Marche, le {{ facture.createdAt|format_date('full') }}
                    <br><br>
                    {{ facture.nom }} {{ facture.prenom }}<br>
                    {{ facture.rue }} <br/>
                    {{ facture.codepostal }} {{ facture.localite }}
                </td>
            </tr>
        </table>
        <div class="text-center">
            <div>
                Accueils extra-scolaires organisés par l’ASBL Espaces Parents Enfants<br>
                <strong>{{ plaine }}</strong>
            </div>
        </div>
        <p class="mt-5">
            Veuillez ne pas tenir compte des rappels si entre-temps vous vous êtes acquitté du montant.<br>
            En cas de difficultés liées au règlement de la facture, <br>
            veuillez contacter la cheffe d’équipe, Madame Wigny, au 084/32 69 90<br>
        </p>
        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <th>Inscrits aux dates</th>
            </tr>
            {% for enfant in enfants %}
                <tr>
                    <td>{{ enfant }}</td>
                    <td>
                        {% for inscription in inscriptions %}
                            {% if inscription.enfant.id == enfant.id %}
                                {{ inscription.jour.dateJour| date('d/m') }},
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th>Total à payer</th>
                <td class="text-end">
                    <strong>{{ dto.total | format_currency('eur') }}</strong>
                </td>
            </tr>
            </tfoot>
        </table>

        <p class="text-center">
            Pour l’ASBL Espaces Parents Enfants,
        </p>
        <table class="table table-bordered text-center">
            <tr>
                <td>
                    La Directrice Générale,<br>
                    Isabelle GIRARD
                </td>
                <td>
                    Chef d'équipe,<br>
                    Sylvie WIGNY
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ absolute_url(asset('bundles/acmarchemercredi/images/signatures/dewez.jpg')) }}"
                         height="70" alt="signature"/>
                </td>
                <td>
                    <img src="{{ absolute_url(asset('bundles/acmarchemercredi/images/signatures/chaplier.jpg')) }}"
                         height="70" alt="signature"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-footer text-success mt-3">
        A payer: {{ data.cout | format_currency('eur') }}<br>
        IBAN: B E 2 3 0 9 1 0 1 9 6 1 9 6 9 1<br>
        BIC: G K C C B E B B<br>
        Communication: {{ facture.communication }}
    </div>
</div>
