{% extends '@AcMarcheMercredi/email/body.html.twig' %}
{% block subject %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}

    Cher(s) parent(s),
    <br/><br/>
    Un compte vient d'être ouvert à votre nom sur le site <a
    href="{{ absolute_url(path('mercredi_front_home')) }}">{{ absolute_url(path('mercredi_front_home')) }}</a>.
    <br/><br/>

    <div class="alert alert-info">
        <a href="{{ tokenUrl }}">
            Utilisez ce lien pour vous connecter et compléter vos informations.
        </a>
    </div>

    <br/><br/>
    Afin de pouvoir valider votre inscription, vous devez
    <br/><br/>
    <a href="{{ absolute_url(path('mercredi_parent_tuteur_edit')) }}">Remplir vos coordonnées</a>
    <br/><br/>
    <a href="{{ absolute_url(path('mercredi_parent_enfant_index')) }}">
        Ajouter votre(vos) enfant(s)
    </a>
    <br/><br/>
    Vous devez impérativement remplir la fiche de santé de votre/vos enfant(s).
    <br/><br/>
    Le site vous permettra ensuite de gérer les présences de votre/vos enfant(s) pour les accueils,
    lors des mercredi après-midi et les journées pédagogiques.
    <br/><br/>
    Vous aurez également accès à l'état des lieux de vos payements et davantage d'informations concernant les modalités pratiques,
    notre Règlement d'Ordre Intérieur etc...
    <br/><br/>
    Nous vous remercions pour votre confiance et restons à votre disposition pour toutes questions.
    <br/><br/>
    <strong>Voici un rappel de vos identifiants pour vous connecter sur le site :</strong>
    <br/><br/>
    Nom d'utilisateur: {{ user.email }}<br/>
    {% if password %}
        Votre mot de passe: {{ password }}<br/>
    {% else %}
        Le mot de passe que vous avez choisi lors de votre inscription<br/>
    {% endif %}
    <br/>

{% endblock %}

