<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ absolute_url(asset('bundles/acmarchemercredi/css/pdf.css')) }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="{{ absolute_url(asset('bundles/acmarchemercredi/bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('bundles/acmarchemercredi/css/print.css')) }}" rel="stylesheet" media="print">
    <title>Facture</title>
    <style type="text/css">
        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Détails de la facture {{ facture.id }}</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheMercrediAdmin/facture/_facture.html.twig' %}
        </div>
        <div class="card-footer text-muted mt-3">
            Crée le {{ facture.createdAt | format_date('full') }} par {{ facture.userAdd }}. Mis à jour
            le {{ facture.updatedAt | format_date('full') }}
        </div>
    </div>
</div>
</body>
