{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <h3>Liste des utilisateurs</h3>

    <a href="{{ path('mercredi_utilisateur_new') }}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Ajouter un utilisateur
    </a> <br/><br/>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Role(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in users %}
            <tr>
                <td>
                    <a href="{{ path('mercredi_utilisateur_show', { 'id': utilisateur.id }) }}">
                        {{ utilisateur.nom }} {{ utilisateur.prenom }}
                    </a>
                </td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.roles | join(',') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
