<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="fas fa-user-tie"></i> Fonction</th>
        <td>
            {{ fiche.fonction }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-user-alt"></i> Nom</th>
        <td>
            {{ fiche.civilite }} {{ fiche.nom }}  {{ fiche.prenom }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-map-marked-alt"></i> Adresse</th>
        <td>{{ fiche.contactrue }} {{ fiche.contactnum }} <br/>
            {{ fiche.contactcp }} {{ fiche.contactlocalite }}
        </td>
    </tr>
    <tr>
        <th><i class="far fa-envelope"></i> Email</th>
        <td>
            {{ fiche.contactemail }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-phone-alt"></i> Téléphone</th>
        <td>
            {{ fiche.contacttelephone }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-phone-alt"></i> Autre téléphone</th>
        <td>
            {{ fiche.contacttelephoneautre }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-fax"></i> Fax</th>
        <td>{{ fiche.contactfax }}</td>
    </tr>
    <tr>
        <th><i class="fas fa-mobile-alt"></i> Gsm</th>
        <td>
            {{ fiche.contactgsm }}
        </td>
    </tr>
</table>
