<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="fas fa-user-tie"></i> Fonction</th>
        <td>
            {{ fiche.adminfonction }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-user-alt"></i> Nom</th>
        <td>
            {{ fiche.admincivilite }} {{ fiche.adminnom }}     {{ fiche.adminprenom }}
        </td>
    </tr>
    <tr>
        <th><i class="far fa-envelope"></i> Email</th>
        <td>
            {{ fiche.adminemail }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-phone-alt"></i> Téléphone</th>
        <td>
            {{ fiche.admintelephone }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-phone-alt"></i> Autre téléphone</th>
        <td>
            {{ fiche.admintelephoneautre }}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-fax"></i> Fax</th>
        <td>{{ fiche.adminfax }}</td>
    </tr>
    <tr>
        <th><i class="fas fa-mobile-alt"></i> Gsm</th>
        <td>
            {{ fiche.admingsm }}
        </td>
    </tr>
</table>
