<table class='table table-bordered table-hover'>
    <thead>
    <tr>
        <th>Jour</th>
        <th>Fermé ?</th>
        <th>Ouvert à midi ?</th>
        <th>Ouverture<br/> matinée</th>
        <th>Fermeture<br/> matinée</th>
        <th>Ouverture<br/> après midi</th>
        <th>Fermeture<br/> après midi</th>
        <th>Sur Rdv</th>
    </tr>
    </thead>
    <tbody>
    {% for horaire in fiche.horaires %}
        <tr>
            <td>{{ ("jour"~horaire.day) | trans }}</td>
            <td>
                {% if horaire.isClosed %}
                    <span class="fas fa-check"></span>
                {% endif %}
            </td>
            <td>
                {% if horaire.isOpenAtLunch %}
                    <span class="fas fa-check"></span>
                {% endif %}
            </td>
            <td>
                {% if not horaire.isClosed and horaire.morningStart %}
                    {{ horaire.morningStart | date('H:i') }}
                {% endif %}
            </td>
            <td>
                {% if not horaire.isClosed and horaire.morningEnd %}
                    {{ horaire.morningEnd | date('H:i') }}
                {% endif %}
            </td>
            <td>
                {% if not horaire.isClosed and horaire.noonStart %}
                    {{ horaire.noonStart | date('H:i') }}
                {% endif %}
            </td>
            <td>
                {% if not horaire.isClosed and horaire.noonEnd %}
                    {{ horaire.noonEnd | date('H:i') }}
                {% endif %}
            </td>
            <td>
                {% if not horaire.isClosed and horaire.isRdv %}
                    <span class="fas fa-check"></span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
