<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="fas fa-church"></i> Centre ville</th>
        <td>{{ fiche.centreville }}</td>
    </tr>
    <tr>
        <th><i class="fas fa-bread-slice"></i> Temps de midi</th>
        <td>{{ fiche.midi }}</td>
    </tr>
    <tr>
        <th><i class="fab fa-accessible-icon"></i> Pmr</th>
        <td>
            {% if fiche.pmr %}
                Oui
            {% else %}
                Non
            {% endif %}
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-user-shield"></i> Identifiant</th>
        <td>{{ fiche.id }}</td>
    </tr>
</table>
<p>
    {{ fiche.comment1 | nl2br }}
</p>
<p>
    {{ fiche.comment2 | nl2br }}
</p>
<p>
{{ fiche.comment3 | nl2br }}
</p>
