
<table class='table table-bordered table-hover'>
    <tr>
        <th><i class="fab fa-twitter"></i> Facebook</th>
        <td>
            <a href="{{ fiche.facebook }}">{{ fiche.facebook }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="fab fa-facebook"></i> Twitter</th>
        <td>
            <a href="{{ fiche.twitter }}">{{ fiche.twitter }}</a>
        </td>
    </tr>
    <tr>
        <th><i class="fab fa-instagram"></i> Instagram</th>
        <td>
            <a href="{{ fiche.instagram }}">{{ fiche.instagram }}</a>
        </td>
    </tr>
</table>
