{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.nom) }}
{{ form_row(form.file) }}
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
