<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">

    <div class="col-auto">
        <a href="{{ path('mercredi_admin_facture_edit', { 'id': facture.id }) }}" role="button"
           class="btn btn-primary"><i class="far fa-edit"></i> Modifier</a>
    </div>

    <div class="col-auto">
        <div class="btn-group">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fas fa-euro-sign"></i> Payer...
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_payer', { 'uuid': facture.uuid }) }}">
                            Payer totalement
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_decompte_new', { 'id': facture.id }) }}">
                            Ajouter un décompte
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <div class="btn-group">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fas fa-plus"></i> Attacher...
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_presence_attach', { 'id': facture.id }) }}">
                            Attacher des présences
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_accueil_attach', { 'id': facture.id }) }}">
                            Attacher des accueils
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <div class="btn-group">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fas fa-plus"></i> Ajouter...
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_reduction_new', { 'id': facture.id }) }}">
                            Ajouter une réduction
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_complement_new', { 'id': facture.id }) }}">
                            Ajouter un complément
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <a href="{{ path('mercredi_commun_export_facture_pdf', {'uuid': facture.uuid}) }}" class="btn btn-primary"
           role='button'> <i class="fas fa-file-pdf"></i> Exporter en pdf</a>
    </div>

    <div class="col-auto">
        <a href="{{ path('mercredi_admin_facture_send_one', {'id': facture.id}) }}" class="btn btn-primary"
           role='button'>
            <i class="fas fa-envelope"></i> Envoyer par mail</a>
    </div>

    <div class="col-auto">
        <a href="{{ path('mercredi_admin_facture_qrcode', {'id': facture.id}) }}" class="btn btn-primary"
           role='button'>
            <i class="fas fa-qrcode"></i> QrCode</a>
    </div>

    <div class="col-auto">
        <a href="{{ path('mercredi_admin_facture_index', {'id': tuteur.id}) }}" class="btn btn-primary" role='button'><i
                    class="fas fa-list"></i> Retour à la Liste</a>
    </div>

    <div class="col-auto">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fas fa-trash"></i> Supprimer
        </button>
    </div>
</div>
