<div class="row">
    <div class="col-6">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="vertical-align: top;">Au nom de</th>
                <td>
                    {{ facture.nom }} {{ facture.prenom }}<br>
                    <i class="fas fa-map-marked-alt"></i>
                    {{ facture.rue }} <br/>
                    {{ facture.codepostal }} {{ facture.localite }}
                </td>
            </tr>
            <tr>
                <th>Communication</th>
                <td>{{ facture.communication }}</td>
            </tr>
            <tr>
                <th>Pour le mois</th>
                <td>{{ facture.mois }}</td>
            </tr>
            {% if facture.plaine %}
                <tr>
                    <th>Pour la plaine</th>
                    <td>{{ facture.plaine }}</td>
                </tr>
            {% endif %}
            </thead>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Générée le</th>
                <td>{{ facture.factureLe | format_date('full') }}</td>
            </tr>
            <tr>
                <th>Envoyé le</th>
                <td>{{ facture.envoyeLe ? facture.envoyeLe | format_datetime('full', 'medium') }}</td>
            </tr>
            <tr>
                <th>Envoyé à</th>
                <td>{{ facture.envoyeA }}</td>
            </tr>
            <tr>
                <th>Payé le</th>
                <td>{{ facture.payeLe ? facture.payeLe | format_date('full') }}</td>
            </tr>
            <tr>
                <th>
                    Total à payer
                </th>
                <td>{{ dto.total|format_currency('eur') }}</td>
            </tr>
            {% if dto.totalDecomptes > 0 %}
                <tr>
                    <th>
                        Total du décompte des paiements
                    </th>
                    <td>{{ dto.totalDecomptes|format_currency('eur') }}</td>
                </tr>
            {% endif %}
            </thead>
        </table>
    </div>
</div>

{% if facture.remarque %}
    <p class="text-muted">
        {{ facture.remarque | nl2br }}
    </p>
{% endif %}
