{% if facturePresences | length > 0 %}
    <h4 class="text-success">Présences</h4>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Enfant</th>
            <th>Date</th>
            <th>Coût</th>
        </tr>
        </thead>
        {% for presence in facturePresences %}
            <tr>
                <td>{{ presence.nom }} {{ presence.prenom }}</td>
                <td>
                    <a href="{{ path('mercredi_admin_facture_presence_show', {'id': presence.id}) }}">
                        {{ presence.presenceDate | format_date('full') }}
                    </a>
                </td>
                <td>{{ presence.cout|format_currency('eur') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
