{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Liste des factures de
                <a href="{{ path('mercredi_admin_tuteur_show',{'id':tuteur.id}) }}">{{ tuteur }}</a>
            </h3>
        </div>

        <div class="card-body">

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-plus"></i> Créer une facture
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li>
                        <a role="button" data-bs-toggle="modal" data-bs-target="#monthModal" class="dropdown-item"
                           href="#">
                            Pour le mois de...
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_new_manual', {'id': tuteur.id}) }}">
                            Manuellement
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_facture_select_plaine', {'id': tuteur.id}) }}">
                            Pour la plaine...
                        </a>
                    </li>
                </ul>
            </div>

            <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Facturé le</th>
                    <th>Payé le</th>
                    <th>Communication</th>
                </tr>
                </thead>
                <tbody>
                {% for facture in factures %}
                    <tr>
                        <td>
                            N° {{ facture.id }}
                        </td>
                        <td>
                            <a href="{{ path('mercredi_admin_facture_show', { 'id': facture.id }) }}">
                                {{ facture.factureLe | format_date('full') | title }}
                            </a>
                        </td>
                        <td>{{ facture.payeLe ? facture.payeLe | format_date('full','full') }}</td>
                        <td>{{ facture.communication }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% include '@AcMarcheMercrediAdmin/facture/_month_modal.html.twig' %}
{% endblock %}
