{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Rechercher des factures</h3>
        </div>

        <div class="card-body">

            {% include '@AcMarcheMercredi/admin/facture/_search.html.twig' %}

            {% if search %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Mois</th>
                        <th>Facturé le</th>
                        <th>Facturé à</th>
                        <th>Payé le</th>
                        <th>Envoyé le</th>
                        <th>Communication</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for facture in factures %}
                        <tr>
                            <td>
                                <a href="{{ path('mercredi_admin_facture_show', { 'id': facture.id }) }}">
                                    N° {{ facture.id }}
                                </a>
                            </td>
                            <td>
                                {{ facture.mois }}
                            </td>
                            <td>
                                {{ facture.factureLe | format_date('full') | title }}
                            </td>
                            <td>
                                <a href="{{ path('mercredi_admin_tuteur_show', { 'id': facture.tuteur.id }) }}">
                                    {{ facture.tuteur }}
                                </a>
                            </td>
                            <td>
                                {{ facture.payeLe ? facture.payeLe | format_date('full','full') }}
                            </td>
                            <td>
                                {{ facture.envoyeLe ? facture.envoyeLe | format_date('full','full') }}
                            </td>
                            <td>
                                {{ facture.communication }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                Aucune facture trouvée
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}
