{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Envoie de la facture du {{ facture.factureLe | format_date('full') }} pour {{ tuteur }}</h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.from) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.to) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.sujet) }}
                </div>

            </div>
            {{ form_row(form.texte) }}
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-paper-plane"></i>
                Envoyer la facture
            </button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_facture_show',{'id':facture.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
