{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>
                Détails de la facture {{ facture.id }}
                {% if facture.tuteur %}
                    de <a
                        href="{{ path('mercredi_admin_tuteur_show', {'id': facture.tuteur.id}) }}">{{ facture.tuteur }}</a>
                {% endif %}
            </h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercrediAdmin/facture/_actions.html.twig' %}
            {% include '@AcMarcheMercrediAdmin/facture/_details.html.twig' %}
            {% include '@AcMarcheMercrediAdmin/facture/_presences.html.twig' %}
            {% include '@AcMarcheMercrediAdmin/facture/_accueils.html.twig' %}

        </div>
        <div class="card-footer text-muted mt-3">
            Crée le {{ facture.createdAt | format_date('full') }} par {{ facture.userAdd }}. Mis à jour
            le {{ facture.updatedAt | format_date('full') }}
        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/facture/_delete_form.html.twig' %}


{% endblock %}
