<table class="table table-bordered">
    <thead>
    <tr>
        <th>Date</th>
        <th>Tuteur</th>
        <th>Remarque</th>
    </tr>
    </thead>
    <tbody>
    {% for presence in presences %}
        <tr>
            <td>
                <a href="{{ path('mercredi_admin_presence_show', {'id': presence.id}) }}">
                    {{ (presence.jour.dateJour | format_date('full'))|capitalize }}
                    {% if presence.jour.pedagogique %}
                        (P)
                    {% endif %}
                </a>
            </td>
            <td>
                {{ presence.tuteur }}
            </td>
            <td class="text-muted">
                {{ presence.remarque }}

                {% if presence.jour.plaineJour %}
                    {{ presence.jour.plaineJour.plaine }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
