{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Détail de la présence de {{ enfant }} du {{ presence.jour.dateJour | format_date('full') }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercrediAdmin/presence/_actions.html.twig' %}

            <table class="table table-bordered">
                <tr>
                    <th>Né le</th>
                    <td>{{ enfant.birthday ? enfant.birthday|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Facturé</th>
                    <td>
                        {% if facturePresence %}
                            <a href="{{ path('mercredi_admin_facture_show', {'id': facturePresence.facture.id}) }}">
                                {{ facturePresence.facture }}
                            </a>
                        {% else %}
                            Non
                            <a href="{{ path('mercredi_admin_facture_presence_attach_from_presence', {'id': presence.id}) }}">
                                Joindre à une facture existante
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Coût après calcul</th>
                    <td>{{ amount|format_currency('euro') }}</td>
                </tr>
                {% if mercredi_paiement > 1 %}
                    <tr>
                        <th>Paiement (ancien système)</th>
                        <td>
                            {% if presence.paiement %}
                                <a href="{{ path('mercredi_admin_paiement_index', {'id': presence.tuteur.id}) }}">
                                    Paiement du {{ presence.paiement.datePaiement|date('m-d-Y') }}
                                </a>
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Sous la garde de</th>
                    <td>
                        <a href="{{ path('mercredi_admin_tuteur_show', {'id': presence.tuteur.id}) }}">
                            {{ presence.tuteur }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Pédagogique</th>
                    <td>{{ presence.jour.pedagogique ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th>Plaine</th>
                    <td>
                        {% if plaine %}
                            <a href="{{ path('mercredi_admin_plaine_show', {'id': plaine.id}) }}">{{ plaine }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Absent</th>
                    <td>{{ presence.absent|mercredi_absence_text }}</td>
                </tr>
                <tr>
                    <th>Réduction</th>
                    <td>{{ presence.reduction }}</td>
                </tr>
                <tr>
                    <th>Ordre</th>
                    <td>
                        {{ ordre }}
                    </td>
                </tr>
                <tr>
                    <th>Fratries présentent</th>
                    <td> {% for fraterie in fratries %}
                            <a href="{{ path('mercredi_admin_enfant_show', {'id': fraterie.id}) }}">
                                {{ fraterie }}
                            </a><span
                                    class="text-muted">({{ fraterie.birthday ? fraterie.birthday|date('d-m-Y') }})</span>
                        {% else %}
                            Aucune
                        {% endfor %}
                    </td>
                </tr>
            </table>

            {% if presence.remarque %}
                <p class="text-muted">
                    {{ presence.remarque | nl2br }}
                </p>
            {% endif %}
            <br/>
        </div>
        <div class="card-footer text-muted mt-3">
            Crée le {{ presence.createdAt | format_date('full') }} par {{ presence.userAdd }}. Mis à jour
            le {{ presence.updatedAt | format_date('full') }}
        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/presence/_delete_form.html.twig' %}

{% endblock %}
