{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 20%;">Logo</th>
            <th style="width: 40%;">Niveau 0</th>
            <th style="width: 40%;">Niveau 1</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    {% if category.logo %}
                        <img src="{{ category.logo }}" alt="logo"/>
                    {% endif %}
                    {% if category.logo_blanc %}
                        <img src="{{ category.logo_blanc }}" alt="logoblanc"/>
                    {% endif %}
                </td>
                <td>
                    {{ category.name }} (Lvl: {{ category.lvl }})<br/>
                    <span class="text-muted">{{ category.description }}</span>
                </td>
                <td></td>
            </tr>
            {% for enfant in category.enfants %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {{ enfant.name }} (Lvl: {{ enfant.lvl }})
                        <br/>
                        <span class="text-muted">
                        {% for path in enfant.path %}
                            {{ path.name }} =>
                        {% endfor %}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
