{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <h3>{{ fiches|length }} fiches {% if category is defined %} dans {{ category }} {% endif %}</h3>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th>Société</th>
            <th>Localité</th>
            <th>Secteurs</th>
            <th>latitude</th>
            <th>Horaires</th>
            <th>Images</th>
        </tr>
        {% for fiche in fiches %}
            <tr>
                <td>{{ fiche.societe }}</td>
                <td>{{ fiche.localite }}</td>
                <td>
                    {% for classement in fiche.classements %}
                        {{ classement.name }} <br/>
                    {% endfor %}
                </td>
                <td>{{ fiche.latitude }}</td>
                <td>{{ fiche.horaires | length }}</td>
                <td>{{ fiche.images | length }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
