{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <table class="table table-striped table-bordered">
        <tr>
            <th>Id</th>
            <td>{{ fiche.id }} <span class="text-muted">(id)</span></td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ fiche.slug }} <span class="text-muted">(id)</span></td>
        </tr>
        <tr>
            <th>Société</th>
            <td>{{ fiche.societe }} <span class="text-muted">(societe)</span></td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>
                {{ fiche.rue }} {{ fiche.numero }} <span class="text-muted">(rue)</span> <span
                        class="text-muted">(numero)</span>
                <br/>
                {{ fiche.cp }}      {{ fiche.localite }} <span class="text-muted">(cp)</span> <span
                        class="text-muted">(localite)</span>
            </td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>
                {{ fiche.telephone }} <span class="text-muted">(telephone)</span> <br/>
                {{ fiche.telephone_autre }} <span class="text-muted">(telephone_autre)</span>
            </td>
        </tr>
        <tr>
            <th>Fax</th>
            <td>{{ fiche.fax }} <span class="text-muted">(fax)</span></td>
        </tr>
        <tr>
            <th>Gsm</th>
            <td>{{ fiche.gsm }} <span class="text-muted">(gsm)</span></td>
        </tr>
        <tr>
            <th>email</th>
            <td>{{ fiche.email }} <span class="text-muted">(email)</span></td>
        </tr>
        <tr>
            <th>Site web</th>
            <td>{{ fiche.website }} <span class="text-muted">(website)</span></td>
        </tr>
        <tr>
            <th>Classements <br/><span class="text-muted">(classements)</span></th>
            <td>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th class="text-center"><span class="text-muted">(name)</span></th>
                        <th class="text-center"><span class="text-muted">(slugname)</span></th>
                        <th class="text-center"><span class="text-muted">(id)</span></th>
                        <th class="text-center"><span class="text-muted">(parent)</span></th>
                    </tr>
                    {% for classement in fiche.classements %}
                        <tr>
                            <td>
                                {{ classement.name }}
                            </td>
                            <td>
                                {{ classement.slugname }}
                            </td>
                            <td class="text-center">
                                {{ classement.id }}
                            </td>
                            <td class="text-center">
                                {{ classement.parent }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <th>Horaires <br/><span class="text-muted">(horaires)</span></th>
            <td>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th class="text-center"><span class="text-muted">(day)</span></th>
                        <th class="text-center"><span class="text-muted">(morning_start)</span></th>
                        <th class="text-center"><span class="text-muted">(morning_end)</span></th>
                        <th class="text-center"><span class="text-muted">(is_closed)</span></th>
                        <th class="text-center"><span class="text-muted">(is_open_at_lunch)</span></th>
                    </tr>
                    {% for horaire in fiche.horaires %}
                        <tr>
                            <td>
                                {{ horaire.day }}
                            </td>
                            <td>
                                {{ horaire.morning_start }}
                            </td>
                            <td class="text-center">
                                {{ horaire.morning_end }}
                            </td>
                            <td class="text-center">
                                {{ horaire.is_closed }}
                            </td>
                            <td class="text-center">
                                {{ horaire.is_open_at_lunch }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <th>Images <br/><span class="text-muted">(images)</span></th>
            <td>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th class="text-center"><span class="text-muted">(image_name)</span></th>
                        <th class="text-center"><span class="text-muted">(mime)</span></th>
                    </tr>
                    {% for image in fiche.images %}
                        <tr>
                            <td>
                                {{ image.image_name }}
                            </td>
                            <td>
                                {{ image.mime }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

{% endblock %}
