{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body %}


    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Tests api</h3>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('bottin_api_test_fiches') }}">Fiches</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('bottin_api_test_commerces') }}"> Commerces</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('bottin_api_test_fiche_by_category',{'id': 512}) }}">Fiches by category</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('bottin_api_test_fiche_id',{'id': 334}) }}">Fiche by id</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('bottin_api_test_fiche_slug',{'slug': 'bureau-memo'}) }}">Fiche by slug</a>
                </li>
                  <li class="list-group-item">
                    <a href="{{ path('bottin_api_test_update_fiche') }}">Update fiche</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

