<!doctype html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Mercredi{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/acmarchemercredi/favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}
    <meta name="description" content="">
    <meta name="author" content="Cst">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/acmarchemercredi/css/app.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ asset('bundles/acmarchemercredi/css/print.css') }}" rel="stylesheet" media="print">
    <meta name="theme-color" content="#563d7c">
</head>
<body class="d-flex flex-column h-100 {% block body_class %}{% endblock %}">
<!-- Top nav bar -->
{% include '@AcMarcheMercredi/_navbar_top.html.twig' %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container pt-3">

        {% include '@AcMarcheMercredi/_flash_messages.html.twig' %}

        {% block notifications %}

        {% endblock %}

        {% block body %}

        {% endblock %}

    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        {% block footer %}
            <span class="text-muted">
                {{ render(path('mercredi_show_organisation')) }}
            </span>
        {% endblock %}
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="{{ asset('bundles/acmarchemercredi/js/typeahead/typeahead.bundle.js') }} " type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
