{% if organisation is not null %}

    <div class="row">
        <div class="col-12 col-md-4">
            <i class="fas fa-map-marked-alt"></i>
            {{ organisation.rue }} <br/>
            {{ organisation.codePostal }}
            {{ organisation.localite }}<br/>
        </div>
        <div class="col-12 col-md-8">
            {% if organisation.email %}
                <i class="far fa-envelope"></i> {{ organisation.email }}<br/>
            {% endif %}

            {% if organisation.siteWeb %}
                <i class="fas fa-globe-europe"></i> <a href="{{ organisation.siteWeb }}">
                {{ organisation.siteWeb }}</a>
                <br/>
            {% endif %}

            {% if organisation.gsm %}
                <i class="fas fa-mobile-alt"></i> {{ organisation.gsm }}<br/>
            {% endif %}

            {% if organisation.telephone or organisation.telephoneBureau %}
                <i class="fas fa-phone-alt"></i> {{ organisation.telephone }} {{ organisation.telephoneBureau }}
                <br/>
            {% endif %}

        </div>
    </div>
{% endif %}
