{% extends '@AcMarcheMercrediParent/layout.html.twig' %}
{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Fiche santé de {{ enfant }} | Etape 3/3</h3>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                Merci de répondre à <strong>TOUTES les questions</strong> par oui ou par non
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% for question in form.questions %}
                <h5 class="text-warning"><strong>{{ question.vars.data.nom }}</strong></h5>
                <hr/>
                <div class="row">
                    <div class="col-md-4 col-12">
                        {{ form_row(question.reponseTxt) }}
                    </div>
                    <div class="col-md-8 col-12">
                        {{ form_row(question.remarque) }}
                        {% if question.vars.data.complementLabel %}
                            <span class="text-muted">Si oui, {{ question.vars.data.complementLabel }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Sauvegarder
            </button>
            {{ form_end(form) }}


        </div>
        <div class="card-footer">
            <a class="float-end" href="{{ path('mercredi_parent_enfant_show', {'uuid': enfant.uuid}) }}"><i
                        class="fas fa-arrow-left"></i> Annuler</a>
        </div>
    </div>

{% endblock %}
