<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ absolute_url(asset('bundles/acmarchebottin/css/pdf.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('bundles/acmarchebottin/bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet">
    <title>{{ category.name }}</title>
</head>
<body>
<div class="container">

    {% for fiche in fiches %}
        <div class="page-header">
            <h3>{{ fiche }}</h3>
        </div>

        {{ include('@AcMarcheBottin/fiche/identite/_activite.html.twig') }}
        <h4>Contact</h4>
        {{ include('@AcMarcheBottin/fiche/identite/_contact.html.twig') }}
        {{ include('@AcMarcheBottin/fiche/identite/_sociaux.html.twig') }}
        {{ include('@AcMarcheBottin/pdf/fiche/_classement.html.twig', {'classements': fiche.classements}) }}
        <div class="page-breaker"></div>
    {% endfor %}

</div>

</body>
</html>
