<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ absolute_url(asset('bundles/acmarchebottin/css/pdf.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('bundles/acmarchebottin/bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet">
    <title>{{ fiche.societe }}</title>
</head>
<body>
<div class="container">

    <div class="page-header">
        <h3>{{ fiche }}</h3>
    </div>

    {{ include('@AcMarcheBottin/fiche/identite/_activite.html.twig') }}
    <h4>Contact</h4>
    {{ include('@AcMarcheBottin/fiche/identite/_contact.html.twig') }}
    {{ include('@AcMarcheBottin/fiche/identite/_sociaux.html.twig') }}
    {{ include('@AcMarcheBottin/pdf/fiche/_classement.html.twig') }}
    <div class="page-breaker"></div>

</div>

</body>
</html>
