{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.nom) }}
{{ form_row(form.dateLe) }}
<div class="row">
    <div class="col-5">{{ form_row(form.pourcentage) }}</div>
    <div class="col-1 mt-3 text-center"><strong>OU</strong></div>
    <div class="col-5">{{ form_row(form.forfait) }}</div>
</div>

<button class="btn btn-primary mr-1 mb-2" type="submit">
    <i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>

{{ form_end(form) }}
