{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Stats en {{ yearSelected }}</h3>
        </div>
        <div class="card-body">

            <ul class="list-group list-group-horizontal mb-3">
                {% for year in years %}
                    <li class="list-group-item">
                        <a href="{{ path('mercredi_admin_stat_index', {'year': year}) }}">{{ year }}</a>
                    </li>
                {% endfor %}
            </ul>

            <table class="table table-bordered">
                {% for month,item in data %}
                    <tr>
                        <th>{{ month }}</th>
                        <td>
                            {{ factureLate[month]['factures']|length }} factures dont
                            {{ factureLate[month]['complement'] }} avec complément(s)
                        </td>
                        <td></td>
                    </tr>
                    {% for row in item %}
                        <tr>
                            <td></td>
                            <th>{{ row.ecole }}</th>
                            <th>
                                <div class="row">
                                    {% for heure,z in row.accueils %}
                                        <div class="col-4">
                                            {{ heure }}
                                        </div>
                                    {% endfor %}
                                    <div class="col-4">Mercredi/péda</div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td></td>
                            <th></th>
                            <td>
                                <div class="row">
                                    {% for heure,z in row.accueils %}
                                        <div class="col-4">
                                            {{ z.accueils|length }} accueils<br/>
                                            {{ z.countHours }} heures<br/>
                                            {{ z.retard|length }} retard
                                        </div>
                                    {% endfor %}
                                    <div class="col-4">{{ row.presences|length }} présences</div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
