<h2>ATTESTATION N°{{ enfant.id }} (ANNEE DES DEPENSES {{ year }})</h2>
<hr/>
<br/>
Cette attestation vaut comme attestation annuelle délivrée conformément à l’art. 6318/8,<br>
de l’arrêté royal d’exécution du Code des impôts sur les revenus 1992 (AR/CIR 92),<br>
en vue de l’octroi de la réduction d’impôt pour garde d’enfant (1).
<br/><br>
Nom de l’organisme ou de la personne (ci-après, « l’organisme ») qui assure la garde (2) : {{ organisation.nom }}<br>
N°BCE (facultatif) : {{ organisation.numero_compte }}<br>
Rue : {{ organisation.rue }}<br>
Code postal :  {{ organisation.codePostal }}   Commune :  {{ organisation.localite }}
<br/><br>
<strong>Cadre I</strong>  (ce cadre I ne doit pas être complété dans tous les cas – voir avis)
<br/><br>
L’organisme qui assure la garde, certifie qu’il (cochez la case adéquate) :
<br/><br>
<ul class="list-group">
    <li class="list-group-item"><input type="checkbox" checked>
        est autorisé, agréé, subsidié, contrôlé ou surveillé ou a reçu un label de qualité par l'Office de la Naissance
        et de l'Enfance ou par « Kind & Gezin » / « Opgroeien regie » ou par le gouvernement de la Communauté
        germanophone ;
    </li>
    <li class="list-group-item"><input type="checkbox">
        est autorisé, agréé, subsidié, contrôlé par les pouvoirs publics locaux, communautaires ou régionaux ;
    </li>
    <li class="list-group-item"><input type="checkbox">
        est autorisé, agréé, subsidié, contrôlé ou surveillé par des institutions publiques étrangères établies dans un
        autre état membre de l’Espace économique européen ;
    </li>
    <li class="list-group-item"><input type="checkbox">
        a un lien avec une école établie dans l’Espace économique européen ou le pouvoir organisateur d’une école
        établie dans l’Espace économique européen,
    </li>
</ul>
<br/><br>
en application de l'article 14535, al. 2, 3°, du Code des impôts sur les revenus 1992.<br>
Ce qui est certifié ci-dessus est valable pour la période du 01/01/{{ year }} au 31/12/{{ year }} (3).
<br/><br>
Nom et adresse complète de « l’organisme certificateur » (4) qui a autorisé, agréé, subsidié, accordé un label de qualité
<br>
ou qui contrôle ou surveille l’organisme de garde ou qui a un lien avec l’organisme de garde dans le cas des écoles ou
<br>
de leurs pouvoirs organisateurs :
<br/><br>
Nom  : {{ organisation.nom }}<br>
N°BCE (facultatif) : {{ organisation.numero_compte }}<br>
Rue : {{ organisation.rue }}<br>
Code postal :  {{ organisation.codePostal }}  Commune :  {{ organisation.localite }}<br>
<br/><br>

<strong>Cadre II</strong>
<br/><br>

1. Numéro d'ordre de l'attestation : {{ tuteur.id }}
<br/><br>
2. Coordonnées du débiteur des frais de garde d'enfant :
<br/><br>
Nom : {{ tuteur.nom }}<br>
Prénom : {{ tuteur.prenom }}<br>
Numéro d'identification du Registre national ou, le cas échéant, le numéro d'identification de la BCSS :{{ tuteur.registreNational }}
<br>
Rue : {{ tuteur.rue }}<br>
Code postal : {{ tuteur.codePostal }}   Commune : {{ tuteur.localite }}

<br/><br>
3. Coordonnées de l'enfant :
<br/><br>
Nom  : {{ enfant.nom }}<br>
Prénom : {{ enfant.prenom }}<br>
Numéro d'identification du Registre national ou, le cas échéant, le numéro d'identification de la BCSS : {{ enfant.registreNational }}
<br>
Date de naissance : {{ enfant.birthday|date('d-m-Y') }} .<br>
Rue : {{ tuteur.rue }}<br>
Code postal : {{ tuteur.codePostal }}   Commune : {{ tuteur.localite }}
<br/><br>
<div class="page-breaker"></div>
4. Période pendant laquelle l'enfant a été gardé (5) :
<br/><br>
<table class="table table-bordered">
    <tr>
        <th>Période</th>
        <th>Du au</th>
        <th>Nbre de jours</th>
        <th>Tarif journalier</th>
        <th>Montant perçu</th>
    </tr>
    {% for item in data %}
        {% set presences = item['tuteurs'][tuteur.id]['presences'] %}
        {% set total = item['tuteurs'][tuteur.id]['total'] %}
        <tr>
            <td>Année {{ year }}</td>
            <td>Du 01-01-{{ year }} au 31-12-{{ year }}</td>
            <td>{{ presences|length }}</td>
            <td>Voir ci-dessous</td>
            <td>{{ total|format_currency('eur') }}</td>
        </tr>
    {% endfor %}
</table>
<br/>
<br/>

Le soussigné certifie exact les renseignements mentionnés ci-avant.
<br/><br>

Fait à {{ organisation.localite }}, le {{ today|date('d-m-Y') }}
<br/><br>

Personne habilitée à représenter l’organisme de garde ou représentant la personne qui assure la garde (2) (7).
<br/><br>
Nom :{{ organisation.responsable_nom }} {{ organisation.responsable_prenom }}<br>
Qualité :{{ organisation.responsable_fonction }}<br>
<br/><br>
<table class="table table-bordered text-center">
    <tr>
        <td>
            La Directrice Générale,<br>
            Marie-France DEWEZ
        </td>
        <td>
            La Bourgmestre,<br>
            Philippe COURARD
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ absolute_url(asset('bundles/acmarchemercredi/images/signatures/dewez.jpg')) }}"
                 height="70" alt="signature"/>
        </td>
        <td>
            <img src="{{ absolute_url(asset('bundles/acmarchemercredi/images/signatures/bgmhotton.png')) }}"
                 height="70" alt="signature"/>
        </td>
    </tr>
</table>
<br/><br>
Explications
<br/><br>
(1)    Cette attestation, qui ne doit être complétée qu’en un seul exemplaire, doit être tenue à la disposition de l’administration par le débiteur des frais de garde d’enfant. Le débiteur des frais est la personne à qui incombe normalement les frais de garde et qui les paie ou les supporte. Le débiteur mentionné dans l’attestation aura seulement droit à la réduction d’impôt s’il a fiscalement les enfants à sa charge ou s’il reçoit la moitié de l'avantage fiscal pour enfants à charge (coparentalité fiscale), et si bien sûr les autres conditions légales sont respectées.
<br><br>
(2)    Il s’agit :
<br><br>
- de l'institution, du milieu d'accueil, de la crèche, de la famille d’accueil, de l'école, établi(e) dans l’Espace économique européen,
- du pouvoir organisateur de l’école établie dans l’Espace économique européen,
- du pouvoir public local, communautaire ou régional,
- de l’institution publique étrangère établie dans un autre Etat membre de l’Espace économique européen,
- de l’organisation établie dans l’Espace économique européen qui organise une garde à domicile pour des enfants malades par des gardiens professionnels,
- du (de la) gardien(ne) indépendant(e) qui garde un enfant malade dans le cadre de son activité professionnelle qu’il (elle) exerce au sein de l’Espace économique européen.
<br><br>
(3) À compléter quand l’organisme qui assure la garde n’est autorisé(e), agréé(e), subsidié(e), etc … que pendant une partie de l’année pour laquelle l’attestation est établie.
<br><br>
(4)    Il s’agit :
<br><br>
- soit de l’Office de la Naissance et de l’Enfance ou de « Kind & Gezin » / « Opgroeien regie » ou du gouvernement de la Communauté germanophone ;
- soit des pouvoirs publics locaux, communautaires ou régionaux ;
- soit des institutions publiques étrangères établies dans un autre Etat membre de l’Espace économique européen ;
- soit de l’école établie dans l’Espace économique européen ou du pouvoir organisateur de l’école établie dans l’Espace économique européen avec laquelle (lequel) les institutions ou les milieux d’accueil ont un lien.
<br><br>
(5) Les données mentionnées sur l'attestation ne peuvent concerner que la partie de l'année précédant le 14ème anniversaire de l'enfant ou le 21ème anniversaire de l’enfant avec un handicap lourd.
<br><br>
(6) Si plusieurs tarifs sont appliqués, il convient de fournir le détail du nombre total de jours de garde par tarif appliqué. Le tarif journalier ne doit cependant être mentionné que s’il est supérieur au montant maximum par jour de garde. Ce montant est indexé.
<br><br>
(7) S’il y a un mandataire, sa signature doit être précédée de la mention "par procuration".
La signature n’est pas obligatoire pour l’envoi électronique d’une copie à l’administration par l’application Belcotax on-web, l’utilisateur devant s’enregistrer pour utiliser celle-ci.
<br>