<table class="table table-bordered ">
    <thead>
    <tr>
        <th>
            <a href="{{ path('mercredi_ecole_accueil_inscriptions',
                { 'id': ecole.id, 'year': previous.year, 'month': previous.month, 'heure': heure }) }}">
                <i class="fas fa-angle-double-left"></i> {{ previous.monthName|upper }} {{ previous.year }}
            </a>
        </th>
        <th colspan="4" class="text-center">{{ date.monthName|upper }} {{ date.year }}</th>
        <th>
            <a href="{{ path('mercredi_ecole_accueil_inscriptions',
                { 'id': ecole.id, 'year': next.year, 'month': next.month, 'heure': heure }) }}">
                {{ next.monthName|upper }} {{ next.year }} <i class="fas fa-angle-double-right"></i>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for week in weeks %}
        {% if week.startDate.week == weekSelected %}
            {% set class = "table-info" %}
        {% else %}
            {% set class = "" %}
        {% endif %}
        <tr class="{{ class }}">
            <td>
                <a href="{{ path('mercredi_ecole_accueil_inscriptions',
                    { 'id': ecole.id, 'year':date.year, 'month': date.month, 'week': week.startDate.week , 'heure': heure }) }}">
                    S {{ week.startDate.week }}
                </a>
            </td>
            {% for day in week.day %}
                {% if day|date('N') != 7 and day|date('N') != 6 %}
                    <td>
                        {{ day|date('d-m') }}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
