{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Nouvelle inscription à {{ plaine }}</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Né le</th>
                </tr>
                </thead>
                <tbody>
                {% for enfant in enfants %}
                    <tr>
                        <td>
                            <a href="{{ path('mercredi_admin_enfant_show', { 'id': enfant.id }) }}">
                                {{ enfant.nom }}
                            </a>
                        </td>
                        <td>{{ enfant.prenom }}</td>
                        <td>{{ enfant.birthday ? enfant.birthday|format_datetime('short', 'none') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_plaine_show',{'id':plaine.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
