{% if is_granted('ROLE_BOTTIN_ADMIN') %}

    <a href="{{ path('bottin_fiche_edit', { 'id': fiche.id }) }}" class="btn btn-primary"
       role="button"><i class="far fa-edit"></i> Editer</a>

    <a href="{{ path('bottin_classement_new', { 'id': fiche.id }) }}" class="btn btn-primary" role="button">
        <i class="fas fa-th-list"></i> Ses classements</a>

    <a href="{{ path('bottin_image_new', { 'id': fiche.id }) }}" class="btn btn-primary" role="button">
        <i class="far fa-images"></i> Images</a>

    <a href="{{ path('bottin_map_edit', { 'id': fiche.id }) }}" class="btn btn-primary" role="button">
        <i class="fas fa-map-marker-alt"></i> Géolocalisation</a>

    <a href="{{ path('bottin_export_fiche_pdf', { 'id': fiche.id }) }}" class="btn btn-primary" role="button">
        <i class="far fa-file-pdf"></i> Pdf</a>

    <a href="{{ path('bottin_fiche') }}"       class="btn btn-primary"       role="button">
        <i class="fas fa-list"></i> Retour à la liste</a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
        <i class="fas fa-trash"></i> Supprimer la fiche
    </button>

    <br/>
    <br/>
{% endif %} 