<form>
    <div class="text-muted">
        <i class="fas fa-map-marker-alt" title="Village"></i> Localité
        {% for localite in localites %}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{ localite.key }}" name="localite"
                       value="{{ localite.key }}">
                <label class="custom-control-label" for="{{ localite.key }}">{{ localite.key }}({{ localite.doc_count }})</label>
            </div>
        {% endfor %}

        <br/>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="pmr" name="pmr" value="1">
            <label class="custom-control-label" for="pmr">
                <i class="fab fa-accessible-icon" title="Pmr"></i> Pmr ({{ pmr }})</label>
        </div>

        <br/>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="centre_ville" name="centre_ville" value="1">
            <label class="custom-control-label" for="centre_ville">
                <i class="fas fa-church" title="Centre ville"></i> Centre ville ({{ centre_ville }})</label>
        </div>

        <br/>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="midi" name="midi" value="1">
            <label class="custom-control-label" for="midi">
                <i class="fas fa-bread-slice" title="Ouvert à midi"></i> Ouvert à midi ({{ midi }})</label>
        </div>

    </div>
</form>
