{% for enfant in enfants %}
    <li class="list-group-item" role="option" data-autocomplete-valu22e="{{ enfant.id }}">
        <a href="{{ path('mercredi_admin_enfant_show', {'id': enfant.id}) }}">
            {{ enfant.prenom }} {{ enfant.nom }} <span class="text-muted">({{ enfant.birthday | date('m-Y') }})</span>
        </a>
    </li>
{% endfor %}
