<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th style="width: 20%">Champ</th>
        <th style="width: 40%">Avant</th>
        <th style="width: 40%">Après</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>adresse</td>
        <td>{{ old.adresse }}</td>
        <td>{{ new.adresse }}</td>
    </tr>
    <tr>
        <td>codepostal</td>
        <td>{{ old.codepostal }}</td>
        <td>{{ new.codepostal }}</td>
    </tr>
    <tr>
        <td>localite</td>
        <td>{{ old.localite }}</td>
        <td>{{ new.localite }}</td>
    </tr>
    <tr>
        <td>telephone</td>
        <td>{{ old.telephone }}</td>
        <td>{{ new.telephone }}</td>
    </tr>
    <tr>
        <td>telephonebureau</td>
        <td>{{ old.telephonebureau }}</td>
        <td>{{ new.telephonebureau }}</td>
    </tr>
    <tr>
        <td>gsm</td>
        <td>{{ old.gsm }}</td>
        <td>{{ new.gsm }}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{ old.email }}</td>
        <td>{{ new.email }}</td>
    </tr>
    <tr>
        <td>caisseallocation</td>
        <td>{{ old.caisseallocation }}</td>
        <td>{{ new.caisseallocation }}</td>
    </tr>
    <tr>
        <td>nomconjoint</td>
        <td>{{ old.nomconjoint }}</td>
        <td>{{ new.nomconjoint }}</td>
    </tr>
    <tr>
        <td>prenomconjoint</td>
        <td>{{ old.prenomconjoint }}</td>
        <td>{{ new.prenomconjoint }}</td>
    </tr>
    <tr>
        <td>telephoneconjoint</td>
        <td>{{ old.telephoneconjoint }}</td>
        <td>{{ new.telephoneconjoint }}</td>
    </tr>
    <tr>
        <td>telephonebureauconjoint</td>
        <td>{{ old.telephonebureauconjoint }}</td>
        <td>{{ new.telephonebureauconjoint }}</td>
    </tr>
    <tr>
        <td>gsmconjoint</td>
        <td>{{ old.gsmconjoint }}</td>
        <td>{{ new.gsmconjoint }}</td>
    </tr>
    </tbody>
</table>