<div class="modal fade" id="addEnfantModal" tabindex="-1" role="dialog" aria-labelledby="addEnfantModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEnfantModalLabel">Ajouter un enfant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <div class="modal-body">
                <h6 class="text-success" id="myModalLabel">Un enfant existant:</h6>
                {{ form_start(formAddChild) }}
                {{ form_errors(formAddChild) }}
                {{ form_row(formAddChild.nom) }}
                <button type="submit" class="btn btn-primary mt-2">Définir comme son enfant</button>
                {{ form_end(formAddChild) }}
                <br/>
                ou <a href="{{ path('mercredi_admin_enfant_new', { 'id' : tuteur.id }) }}">ajouter un nouvel enfant</a>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Annuler
                </button>
            </div>
        </div>
    </div>
</div>
