<h4 class="text-success">Enfant(s)</h4>
<table class="table table-bordered table-hover">

    <tbody>
    {% for relation in relations %}
        {% set enfant = relation.enfant %}
        <tr>
            <td>
                <a href="{{ path('mercredi_admin_enfant_show', { 'id': enfant.id }) }}">
                    {{ enfant }}
                </a>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-download"></i> Attestations
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_attestation_new',{'tuteur':tuteur.id, 'enfant':enfant.id, 'year':2024}) }}">
                            Attestation 2024
                        </a>
                        <a class="dropdown-item"
                           href="{{ path('mercredi_admin_attestation_new',{'tuteur':tuteur.id, 'enfant':enfant.id, 'year':2023}) }}">
                            Attestation 2023
                        </a><a class="dropdown-item"
                               href="{{ path('mercredi_admin_attestation_new',{'tuteur':tuteur.id, 'enfant':enfant.id, 'year':2022}) }}">
                            Attestation 2022
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-outline-dark btn-sm unlinktuteur"
                        data-id="{{ relation.id }}"
                        data-token="{{ csrf_token('delete' ~ relation.id) }}"
                        data-bs-toggle="modal"
                        data-bs-target="#unlinkModal">
                    <i class="fas fa-unlink"></i> Détacher du parent
                </button>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
