{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-4">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-4">
        {{ form_row(form.prenom) }}
    </div>
    <div class="col-4">
        {{ form_row(form.sexe) }}
    </div>
    <div class="col-4">
        {{ form_row(form.rue) }}
    </div>
    <div class="col-4">
        {{ form_row(form.code_postal) }}
    </div>
    <div class="col-4">
        {{ form_row(form.localite) }}
    </div>
    <div class="col-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-6">
        {{ form_row(form.telephone) }}
    </div>
    <div class="col-6">
        {{ form_row(form.telephone_bureau) }}
    </div>
    <div class="col-6">
        {{ form_row(form.gsm) }}
    </div>
    <div class="col-6">
        {{ form_row(form.iban) }}
    </div>
    <div class="col-6">
        {{ form_row(form.facturePapier) }}
    </div>
</div>
<h4 class="text-success">Conjoint</h4>
<hr/>
<div class="row">
    <div class="col-4">
        {{ form_row(form.conjoint.relation_conjoint) }}
    </div>
    <div class="col-4">
        {{ form_row(form.conjoint.nom_conjoint) }}
    </div>
    <div class="col-4">
        {{ form_row(form.conjoint.prenom_conjoint) }}
    </div>
    <div class="col-6">
        {{ form_row(form.conjoint.email_conjoint) }}
    </div>
    <div class="col-6">
        {{ form_row(form.conjoint.telephone_conjoint) }}
    </div>
    <div class="col-6">
        {{ form_row(form.conjoint.telephone_bureau_conjoint) }}
    </div>
    <div class="col-6">
        {{ form_row(form.conjoint.gsm_conjoint) }}
    </div>
</div>
{{ form_row(form.remarque) }}
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
