<table class='table table-bordered table-hover'>
    <tbody>
    <tr>
        <th><span class="fas fa-phone"></span> Téléphone</th>
        <td>{{ tuteur.telephone }}</td>
    </tr>
    <tr>
        <th><span class="fas fa-phone"></span> Téléphone bureau</th>
        <td>{{ tuteur.telephonebureau }}</td>
    </tr>
    <tr>
        <th><span class="fas fa-mobile-alt"></span> Gsm</th>
        <td>{{ tuteur.gsm }}</td>
    </tr>
    <tr>
        <th><span class="far fa-envelope"></span> Email</th>
        <td><a href='mailto:{{ tuteur.email }}'>{{ tuteur.email }}</a></td>
    </tr>
</table>
