{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmarchemercredi/css/typeahead.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="card mb-3">

        <h3 class="card-header">{{ tuteur }}
            <div class="float-right">
                {% include '@AcMarcheMercredi/commun/_sexe.html.twig' with {'entity':tuteur} %}
                {% include '@AcMarcheMercredi/commun/_archive.html.twig' with {'entity':tuteur} %}
            </div>
        </h3>

        <div class="card-body">

            {% include '@AcMarcheMercrediAdmin/tuteur/_actions.html.twig' %}

            <div class="row">
                <div class="col-6">
                    <i class="fas fa-map-marked-alt"></i>
                    {{ tuteur.rue }} <br/>
                    {{ tuteur.codepostal }} {{ tuteur.localite }}

                    <br/>
                    {% include '@AcMarcheMercrediAdmin/tuteur/_identite.html.twig' %}
                </div>
                <div class="col-6">
                    {% include '@AcMarcheMercrediAdmin/tuteur/_conjoint.html.twig' %}
                </div>
            </div>

            {% if tuteur.remarque %}
                <p class="text-muted">
                    {{ tuteur.remarque | nl2br }}
                </p>
            {% endif %}

            <br/>
            {% include '@AcMarcheMercrediAdmin/tuteur/_enfants.html.twig' %}
            {% include '@AcMarcheMercrediAdmin/relation/_delete_form.html.twig' %}

        </div>
        <div class="card-footer text-muted mt-3">
            Créé le {{ tuteur.createdAt | format_date('full') }} par {{ tuteur.userAdd }}. Mis à jour
            le {{ tuteur.updatedAt | format_date('full') }}
        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/tuteur/_delete_form.html.twig' %}
    {% include '@AcMarcheMercrediAdmin/tuteur/_add_enfant_modal.html.twig' %}

{% endblock %}
{% block javascripts %}


    <script type="text/javascript">

        function initTypeahead() {

            var tuteurs = new Bloodhound({
                datumTokenizer: function (datum) {
                    return Bloodhound.tokenizers.whitespace(datum.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "{{ path('mercredi_admin_ajax_enfants') }}/%QUERY",
                    wildcard: '%QUERY'
                }
            });

            var options = {
                hint: true,
                highlight: true,
                minLength: 2
            };

            var dataSetParents = {
                display: 'label',
                limit: 10,
                source: tuteurs,
                templates: {
                    suggestion: function (data) {
                        var value = data.nom + ' ' + data.birthday;
                        return '<p>' + value + ' </p>';
                    }
                }
            };

            $('.typeahead').typeahead(options, dataSetParents);
            $('.typeahead').bind('typeahead:select', function (ev, suggestion) {
                $('#enfantId').val(suggestion.id)
            });
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            initTypeahead();
        });

    </script>

    <script type="text/javascript">
        $(".unlinkparent").click(function () {
            var relationId = $(this).attr("data-id");
            var relationToken = $(this).attr("data-token");
            $("#relationid").val(relationId);
            $("#relationtoken").val(relationToken);
        });
    </script>
{% endblock %}
