{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmarchebottin/css/typeahead.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Classements pour
                <a href="{{ path('bottin_fiche_show', { 'id': fiche.id }) }}">
                    {{ fiche }}
                </a>
            </h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheBottin/classement/_list.html.twig' %}

            {{ form_start(form, { 'attr': {'class': 'well'} }) }}
            {{ form_errors(form) }}

            <h5 class="text-success">Ajout par recherche</h5>
            <hr>
            {{ form_row(form.name) }}

            <h5 class="text-success">Ajout par navigation</h5>
            <hr>

            <div class="form-row">
                <div class="col">
                    <select name="category" size="10" class="custom-select my-1 mr-sm-2 form-control category-root"
                            onchange="getCategories(this, '0')">
                        {% for root in roots %}
                            <option value="{{ root.id }}">{{ root }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <div id="ajaxsuccess-1">

                    </div>
                </div>
                <div class="col">
                    <div id="ajaxsuccess-2">

                    </div>
                </div>

                <div class="col">
                    <div id="ajaxsuccess-3">

                    </div>
                </div>
            </div>

            <br clear="all" class="mb-2"/>

            {{ form_row(form.principal) }}

            <div class="btn-group">
                <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                    Ajouter
                </button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        function initTypeahead() {

            var categories = new Bloodhound({
                datumTokenizer: function (datum) {
                    return Bloodhound.tokenizers.whitespace(datum.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "{{ path('bottin_fetch') }}/%QUERY",
                    wildcard: '%QUERY'
                }
            });

            var options = {
                hint: true,
                highlight: true,
                minLength: 2
            };

            var dataSetCategories = {
                display: 'label',
                limit: 10,
                source: categories,
                templates: {
                    suggestion: function (data) {
                        var value = data.name;
                        return '<p>' + value + '</p>';
                    }
                }
            };

            $('.typeahead').typeahead(options, dataSetCategories);
            $('.typeahead').bind('typeahead:select', function (ev, suggestion) {
                console.log(suggestion);
                $('#classement_categorySelected').val(suggestion.id)
            });
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            initTypeahead();
        });

    </script>


    <script type="text/javascript">

        function getCategories(item, level) {
            var rootId = item.value;
            var url = '{{ path('bottin_ajax_get_categories') }}';
            $.ajax({
                'data': {parentId: rootId, level: level},
                'url': url,
                'method': 'POST',
                'dataType': "json",
                'success': function (data) {
                    error = data.error;
                    if (error) {
                        alert(error);
                        return;
                    } else {
                        html = data.html;
                        catId = data.catId;
                        level = data.level;
                        console.log(level);
                        $("#ajaxsuccess-" + level).html(html);
                        $("#classement_categorySelected").val(catId);
                    }
                }
            }).done(function (data) {
                if (console && console.log) {
                    //   console.log("data:", data);
                }
            });
        }

        $(".removeclassment").click(function () {
            var idClassement = $(this).attr("data-id");
            //  removeClassement(idClassement);
        });

        $(".setprincipal").click(function () {
            var idClassement = $(this).attr("data-id");
            setPrincipal(idClassement);
        });

        function removeClassement(idClassement) {
            console.log("remove");

            var url = '{{ path('bottin_ajax_remove_classement') }}';
            $.ajax({
                'data': {classementId: idClassement},
                'url': url,
                'method': "POST",
                'dataType': "html",
                'success': function (data) {
                    error = data.error;
                    if (error) {
                        alert(error);
                        return;
                    } else {
                        console.log("oki");
                        $("#classements").html(data);
                    }
                }
            }).done(function (data) {
                if (console && console.log) {

                }
            });
        }

        function setPrincipal(idClassement) {

            var url = '{{ path('bottin_ajax_principal_classement') }}';
            $.ajax({
                'data': {classementId: idClassement},
                'url': url,
                'method': "POST",
                'dataType': "html",
                'success': function (data) {
                    //console.log(data);
                    error = data.error;
                    if (error) {
                        alert(error);
                        return;
                    } else {
                        console.log("oki");
                        $("#classements").html(data);
                        //$("#classements").append(data);
                    }
                }
            }).done(function (data) {
                if (console && console.log) {
                    //   console.log("data:", data);
                }
            });
        }

    </script>
{% endblock %}
