{% include '@AcMarcheMercrediAdmin/enfant/_btn_add_presence.html.twig' %}


<div class="btn-group">
    <a href="{{ path('mercredi_admin_accueil_new', { 'id': enfant.id }) }}" role="button"
       class="btn btn-primary"><i
                class="far fa-edit"></i> Accueil</a>
</div>

<div class="btn-group">
    <a href="{{ path('mercredi_admin_enfant_edit', { 'id': enfant.id }) }}" role="button"
       class="btn btn-primary"><i
                class="far fa-edit"></i> Modifier</a>
</div>
<div class="btn-group">
    <a href="{{ path('mercredi_admin_sante_fiche_show', { 'id': enfant.id }) }}" role="button"
       class="btn btn-primary">
        <i class="fas fa-heartbeat"></i> Fiche santé</a>
</div>

<div class="btn-group">
    <a id="add_presence" href="{{ path('mercredi_admin_note_new', { 'id' : enfant.id } ) }}"
       class="btn btn-primary" role="button">
        <i class="fas fa-plus"></i> Ajouter une note
    </a>
</div>
<div class="btn-group">
    <a href="{{ path('mercredi_admin_enfant_index') }}" class="btn btn-primary" role='button'><i
                class="fas fa-list"></i>
        Retour à la Liste</a>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</div>
<br/><br/>
